/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
}

h1 {
    color: #007BFF;
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #007BFF;
}

input[type="text"] {
    padding: 12px;
    width: calc(100% - 26px);
    border: 1px solid #007BFF;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 1rem;
}

button {
    padding: 12px 24px;
    background: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 1.3em;
    color: #28a745;
}
.loading-bar {
    width: 1px;
    height: 20px;
    background-color: blue;
    margin-top: 20px;
    transition: width 0.5s;
    border-radius: 15px; 
}

textarea {
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 150px;
    width: 60%;
    margin: 0 auto; /* Center horizontally */
    display: block;
}

.message {
    font-size: 1rem;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
}

.message.positive {
    background-color: #d4edda;
    color: #155724;
}

.message.negative {
    background-color: #f8d7da;
    color: #721c24;
}
#progress-container {
    margin-top: 20px;
    text-align: left;
    display: none; /* Hidden until the process starts */
}

#progress-bar {
    height: 10px;
    background-color: #007BFF;
    width: 0%;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: width 0.3s ease;
}

#progress-steps {
    list-style-type: none;
    padding: 0;
}

#progress-steps li {
    margin-bottom: 10px;
    font-size: 0.9rem;
    opacity: 0.5;
}

#progress-steps li.completed {
    opacity: 1;
    font-weight: bold;
}
